<% if current_user.already_favorited?(post) %>
  <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
    <i class="fas fa-heart" style="color: red;"></i>
  <% end %>
  <span style="color: red;"><%= post.favorites.count %></span>
<% else %>
  <%= link_to post_favorites_path(post), method: :post, remote: true do %>
    <i class="far fa-heart"></i>
  <% end %>
  <%= post.favorites.count %>
<% end %>