<div class="container1">
	<div class="row">
		<div class="col-3 sidebar-left">
      <div class="sidebar_fixed text-center">
			</div>
		</div>
    <div class="col mt-5" id="main">
      <nav class="nav nav-tabs nav-fill justify-content-center">
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="<%= followings_user_path(@user) %>">Followings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold active" href="<%= followers_user_path(@user) %>">Followers</a>
        </li>
      </nav>
      <%= render 'users/user', users: @followers %>
    </div>
		<div class="col-3 sidebar-right">
			<div class="sidebar_fixed">
			</div>
		</div>
	</div>
</div>