<% if current_user.language == 'english' %>
  <% @japanese.each do |j| %>
    <ul>
      <li>ユーザー名：<%= link_to j.name, user_path(j) %></li>
    </ul>
  <% end %>
<% else %>
  <% @english.each do |e| %>
    <ul>
      <li>ユーザー名：<%= link_to e.name,  user_path(e) %></li>
    </ul>
  <% end %>
<% end %>