<div class="text-center">
  <h2>会員登録</h2>
</div>

<%= link_to "ログイン", new_user_session_path %>

<%= link_to "新規登録", new_user_registration_path %>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
