@import '~bootstrap/scss/bootstrap';

body {
  padding-top: 70px;
  color: #555555;
}

.top {
  min-height: 84vh;
  background-image: url('../images/jojo.svg');
  background-size:50% 58%;
  background-position: bottom;
  background-repeat  : no-repeat;
}

a {
  color: #555555;
}

a:hover {
  text-decoration: none;
}

.container1 {
  width: 95%;
  margin: 0 auto;
}

// login
.sign-font1 {
  font-size: 50px;
  color: green;
  font-weight: 150;
}

.sign-font2 {
  font-weight: 150;
}

// signup
.font1 {
  font-size: 35px;
  color: green;
  font-weight: 150;
}

// navbar
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

.navshadow {
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.3);
  background-color: white;
}

.navbar-brand {
  font-size: 30px;
  font-weight: 150;
}

.navbar-light .navbar-nav .nav-link{
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item{
  margin: 0 8px;
}

// メッセージ一覧
#message-container {
  padding: 1rem 1rem 8rem 1rem;
}

// _footer
// メッセージ投稿フォーム
footer {
  
  box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.4);
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
}

// ボタン無効化時のスタイル
.btn-primary.disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: auto;
}

// sidebar
.sidebar-left {
  border-right: solid #EEEEEE;
  min-height: 670px;
  padding: 0;
  margin: 0;
}

.sidebar-right {
  border-left: solid #EEEEEE;
  min-height: 670px;
  padding: 0;
  margin: 0;
}

.sidebar_fixed {
  position: sticky;
  top: 80px;
}

// posts/index
.form1 {
  display:none;
}

// スマホ版表示
@media screen and (max-width: 768px){
  .sidebar-left{
    display:none;
  }

  .sidebar-right{
    display:none;
  }

  .form1 {
    display:block;
  }

  .top {
    background-image: none;
  }
}

// users/index
.card-parent {
  text-align: center;
}

.card {
  width: 200px;
  height: 210px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  margin: 0 15px;
  
}