<footer class="fixed-bottom" id="footer">
	<%= form_for @message, remote: true do |f| %>
		<div class="form-group">
			<%= f.text_area :content, placeholder: 'Type a message...', class: 'form-control col-sm-6 offset-sm-3', rows: '1' %>
		</div>
		<%= f.hidden_field :room_id, value: @room.id %>
		<div class="form-group">
			<%= f.submit "Submit", class: 'btn btn-success btn-block disabled col-sm-4 offset-sm-4', id: 'message-button' %>
		</div>
	<% end %>
</footer>

