<% @anotherEntries.each do |e| %>
  <p class="is-size-5 has-text-weight-bold"><%= link_to e.user.name, room_path(e.room.id) %></p>
  <%= link_to room_path(e.room.id) do %>
    <p>トークルームへ >></p>
  <% end %>
<% end %>