<% if flash[:notice] %>
  <div class="alert alert-success shadow" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger shadow" role="alert">
    <%= alert %>
  </div>
<% end %>

<script>
  $(".alert-success").fadeOut(5000);
</script>